﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LabWebAppBlazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registrar-usuario">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registrar Usuarios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pacientes" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu oi oi-people" aria-hidden="true"></span> Pacientes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="medicos" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu oi oi-people" aria-hidden="true"></span> Medicos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="examenes" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu oi oi-people" aria-hidden="true"></span> Exámenes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ordenes" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu oi oi-people" aria-hidden="true"></span> Ordenes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resultados" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu oi oi-people" aria-hidden="true"></span> Resultados
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cuentasporcobrar" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu oi oi-people" aria-hidden="true"></span> Cuentas por Cobrar
            </NavLink>
        </div>
    </nav>
</div>